<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>



<body>

    <div id="home" class="container-fluid resume-container">

        <!--  ************************* Container Starts Here ************************** -->

        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 resume-box">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 basic-profile">

                            <div class="row no-margin">
                                <div class="col-lg-12 col-md-3 col-sm-3 col-12 no-padding">
                                    <img src="<%= profile.avatar %>" alt="">
                                </div>
                                <div class="col-lg-12 col-md-9 col-sm-9 ccol-12 baci-cc no-padding">
                                    <div class="basic-detail no-padding">
                                        <h2>
                                            <%= profile.name %>
                                        </h2>
                                        <p>
                                            <%= profile.job %>
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>

                                            <p>Master Degree</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <h5>
                                                <%= education.school %>
                                            </h5>
                                            <p>
                                                <%= education.description%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="service no-margin row">
                                        
                                        <div class="col-sm-12">
                                            <img src="https://nguoilambao.vn/upload_images/images/dai-hoc-dong-a.jpg" alt="">
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- ######## Resume Tab End ####### -->

                                <!--  ************************* skill Tab Starts Here ************************** -->
                                <div class="tab-pane fade" id="portfolio" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="sec-title">
                                        <h2>My skills</h2>
                                    </div>


                                    <div class="service no-margin row">
                                        <% skills.slice(0,1).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(1,2).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(2,3).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(3,4).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(4,5).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(5,6).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(6,7).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(7,8).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                                <!-- ######## Portfolio Tab End ####### -->

                                <!--  ************************* Contact Tab Starts Here ************************** -->
                                
                                <!-- ######## Contact Tab End ####### -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ######## Container End ####### -->
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>