<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>



<body>

    <div id="home" class="container-fluid resume-container">

        <!--  ************************* Container Starts Here ************************** -->

        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 resume-box">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 basic-profile">

                            <div class="row no-margin">
                                <div class="col-lg-12 col-md-3 col-sm-3 col-12 no-padding">
                                    <img src="<%= profile.avatar %>" alt="">
                                </div>
                                <div class="col-lg-12 col-md-9 col-sm-9 ccol-12 baci-cc no-padding">
                                    <div class="basic-detail no-padding">
                                        <h2>
                                            <%= profile.name %>
                                        </h2>
                                        <p>
                                            <%= profile.job %>
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="col-lg-8 col-md-12 detail-profile no-padding">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home-1" role="tab"
                                        aria-controls="home" aria-selected="true">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                        aria-controls="profile" aria-selected="false">Experience</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="resume-tab" data-toggle="tab" href="#resume" role="tab"
                                        aria-controls="profile" aria-selected="false">Education</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="portfolio-tab" data-toggle="tab" href="#portfolio"
                                        role="tab" aria-controls="profile" aria-selected="false">Skills</a>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="myTabContent">

                                <!--  ************************* Home Tab Starts Here ************************** -->
                                <div class="tab-pane fade show active" id="home-1" role="tabpanel"
                                    aria-labelledby="home-tab">

                                    <div class="detal-jumbo">
                                        <h3>Hellow I'm Freelancer </h3>
                                        <p>Try hard to success</p>
                                    </div>
                                    <div class="links">
                                        <div class="row ">
                                            <div class="col-md-6 col-sm-12">
                                                <ul class="btn-link">
                                                    <li>
                                                        <a href=""><i class="fas fa-paper-plane"></i> Hire Me</a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="fas fa-cloud-download-alt"></i> Download
                                                            Resume</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <ul class="social-link">
                                                    <li><i class="fab fa-facebook-f"></i></li>
                                                    <li><i class="fab fa-twitter"></i></li>
                                                    <li><i class="fab fa-pinterest-p"></i></li>
                                                    <li><i class="fab fa-linkedin-in"></i></li>
                                                    <li><i class="fab fa-linkedin-in"></i></li>
                                                    <li><i class="fab fa-youtube"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jumbo-address">
                                        <div class="row">
                                            <div class="col-sm-6 no-padding">

                                                <table class="addrss-list">
                                                    <tr>
                                                        <th>E-mail</th>
                                                        <td>
                                                            <%= profile.email %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Phone</th>
                                                        <td>
                                                            <%= profile.phone %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date of birth</th>
                                                        <td>10-03-2003</td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <div class="col-sm-6 no-padding">
                                                <table class="addrss-list">
                                                    <tr>
                                                        <th>Address</th>
                                                        <td>
                                                            <%= profile.address %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Website</th>
                                                        <td> <%= profile.webside %></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Languages</th>
                                                        <td>Việt Nam</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                    </div>





                                </div>

                                <!-- ######## Home Tab End ####### -->

                                <!--  ************************* Profile Tab Starts Here ************************** -->
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                                    <div class="service no-margin row">
                                        <div class="col-sm-2 col-2 serv-logo">
                                            <i class="fab fa-delicious"></i>
                                        </div>
                                        <div class="col-sm-10 col-10">
                                            <h5>
                                                <%= experiences[0].name %>
                                            </h5>
                                            <p>
                                                <%= experiences[0].company %>
                                            </p>
                                            <p>
                                                <%= experiences[0].startDate %>-<%= experiences[0].endDate %>
                                            </p>
                                            <p>
                                                <%= experiences[0].desc %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="service no-margin rit-serv row">

                                        <div class="col-sm-10 col-10">
                                            <h5>
                                                <%= experiences[1].name %>
                                            </h5>
                                            <p>
                                                <%= experiences[1].company %>
                                            </p>
                                            <p>
                                                <%= experiences[1].startDate %>-<%= experiences[1].endDate %>
                                            </p>
                                            <p>
                                                <%= experiences[1].desc %>
                                            </p>
                                        </div>
                                        <div class="col-sm-2 col-2 serv-logo-right">
                                            <i class="fas fa-code"></i>
                                        </div>
                                    </div>
                                    <div class="service no-margin row">
                                        <div class="col-sm-2 serv-logo">
                                            <i class="fab fa-chrome"></i>
                                        </div>
                                        <div class="col-sm-10 col-10">
                                            <h5>
                                                <%= experiences[2].name %>
                                            </h5>
                                            <p>
                                                <%= experiences[2].company %>
                                            </p>
                                            <p>
                                                <%= experiences[2].startDate %>-<%= experiences[2].endDate %>
                                            </p>
                                            <p>
                                                <%= experiences[2].desc %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="service no-margin rit-serv row">

                                        <div class="col-sm-10 col-10">
                                            <h5>
                                                <%= experiences[3].name %>
                                            </h5>
                                            <p>
                                                <%= experiences[3].company %>
                                            </p>
                                            <p>
                                                <%= experiences[3].startDate %>-<%= experiences[3].endDate %>
                                            </p>
                                            <p>
                                                <%= experiences[3].desc %>
                                            </p>
                                        </div>
                                        <div class="col-sm-2 col-2 serv-logo-right">
                                            <i class="fab fa-android"></i>
                                        </div>
                                    </div>

                                </div>
                                <!-- ######## Profile Tab End ####### -->

                                <!--  ************************* education Tab Starts Here ************************** -->
                                <div class="tab-pane fade" id="resume" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="sec-title">
                                        <h2>Education Details</h2>
                                    </div>
                                    <div class="service no-margin row">
                                        <div class="col-sm-3 resume-dat serv-logo">
                                            <h6>
                                                <%= education.startDate %>-<%= education.endDate %>
                                            </h6>
                                            <p>Master Degree</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <h5>
                                                <%= education.school %>
                                            </h5>
                                            <p>
                                                <%= education.description%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="service no-margin row">
                                        
                                        <div class="col-sm-12">
                                            <img src="https://nguoilambao.vn/upload_images/images/dai-hoc-dong-a.jpg" alt="">
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- ######## Resume Tab End ####### -->

                                <!--  ************************* skill Tab Starts Here ************************** -->
                                <div class="tab-pane fade" id="portfolio" role="tabpanel" aria-labelledby="contact-tab">
                                    <div class="sec-title">
                                        <h2>My skills</h2>
                                    </div>


                                    <div class="service no-margin row">
                                        <% skills.slice(0,1).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(1,2).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(2,3).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(3,4).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(4,5).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(5,6).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(6,7).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                    <div class="service no-margin row">
                                        <% skills.slice(7,8).forEach( function( skill ) { %>
                                            <div class="col-sm-4 serv-logo">
                                                <h5>
                                                    <%= skill.name%>
                                                </h5>
                                            </div>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <%= skill.percent%>
                                                </h5>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                                <!-- ######## Portfolio Tab End ####### -->

                                <!--  ************************* Contact Tab Starts Here ************************** -->
                                
                                <!-- ######## Contact Tab End ####### -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ######## Container End ####### -->
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>